.header__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;
    text-decoration-line: none;
    color: #FFFFFF;
}

.header__lang-link:first-of-type {
    border-bottom: 1px solid #FFFFFF;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

.header__lang-link:hover {
    text-decoration: underline;
    opacity: 0.5;
    transition: opacity 1s linear 1s;
}

@media screen and (max-width: 740px) {
    .header__lang-link {
        font-size: 18px;
    }

}

